!!!
%html{ :lang => "en", "xml:lang" => "en", :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %title= @title
    %link{ :href => "/css/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    - local_stylesheet_link_tag('local')
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }
    %script{ :type => "text/javascript", :src => "/greenworm.com.au/javascripts/jquery-1.7.1.min.js" }
    %script{ :type => "text/javascript", :src => "/greenworm.com.au/javascripts/application.js" }
    = haml :analytics, :layout => false            
  %body
    #container
      = haml :header, :layout => false
      = yield
      = haml :footer, :layout => false